html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    font-family: 'Permanent Marker', cursive;
}

/*body {
    background-image: url("../img/torn2.png");
    background-repeat: no-repeat;
    background-size: contain;
}*/

header {
    background-color: #eaaf39;
    padding: 1em 0 1em 0;
    border-bottom: solid #df6a26 1em;
}

header img {
    width: 100%;
    max-width: 253px;
    margin: auto;
    display: block;
}

ul {
    list-style-type: none;
}

.a {
    margin: auto;
    max-width: 80px;
    margin-top: 1em;
    display: block;
}

.copy {
    margin: 0 1em 2.5em 1em;
}

.copy a {
    color: #2c2726;
    text-decoration: none;
}

.copy a:hover {
    color: #eaaf39;
}

#button {
    background-color: #2c2726;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
}

#button:hover {
    background-color: #eaaf39;
}

#button a {
    color: white;
}

#button a:hover {
    color: white;
}

.images {
    margin: 0 1em 2.5em 1em;
}

.images img {
    width: 100%;
    margin: auto;
}

.colors {
    margin: 0 1em 0 1em;
}
